{% extends "admin_layout.html" %} {% set page_title="Dashboard" %}

{% block content %}
    <div class="container-fluid row alagn-items-center">
        <div class="col-md-3"></div> <!--for spacing-->
        <div class="text-center col-md-4">
            <form action="{{url_for('admin.login')}}" method="POST">
                <h1 class="h3 mb-3 fw-normal text-capilaize">Please sign in</h1>
                <div class="form-floating">
                    <input type="email" class="form-control" name="email" required>
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="tel" class="form-control" name="phone-number" required>
                    <label for="floatingInput">Phone Number</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" name="password" required>
                    <label for="floatingPassword">Password</label>
                </div>
                <p class="h6 mb-4 mt-5 fw-normal text-danger">Please note that if this is your first time logging in as an admin, the password you provide will be your password untill the account is deleted.</p>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            </form>
        </div>
        <div class="col-md-5"></div> <!--for spacing-->
    </div>
{% endblock %}

