{% extends "admin_layout.html" %} {% set page_title="Dashboard" %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
    </div>
    <div class="row">
        {% for age_group, child in children.items() %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    {{age_group}}
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for name, age in child %}
                        <li class="list-group-item">{{name}} ({{age}})</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>    
{% endblock %}