{% extends "admin_layout.html" %} {% set page_title="Dashboard" %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
    </div>
    <div class="row">
        {% for age_group, group_of_children in children.items() %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title">{{ age_group }}</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for child in group_of_children %}
                        <p>{{child[0]}} ({{child[1]}})</p>
                        {% endfor %}
                        
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>    
{% endblock %}