{% extends "admin_layout.html" %} {% set page_title="Dashboard" %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
    </div>
    <div class="row">
        {% for age_group, child in children.items() %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title">{{ age_group }}</h5>
                </div>
                <div class="card-body">
                    {% if child %}
                    <p class="card-text">{{child[0]}} - {{child[1]}}</p>
                    {% else %}
                    <p class="card-text">No children in this age group</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>    
{% endblock %}