{% extends "layout.html" %} {% set page_title="Volunteering" %}

{% block content %}
<div class="container mt-4">
  <h1>Volunteer for a Position</h1>
  <form class="text-center" method="POST">
    {% for event in events %}
    <ul class="list-group mb-3">
      <li class="list-group-item text-capitalize">{{ event.event_name }}</li>
      {% for role in event.roles %}
      <li class="list-group-item">
        <ul class="list-group">
          {% for position in role.positions %}
          <li class="list-group-item">
            <label for="volunteer--{{ position.position_id }}" class="text-capitalize">
              {{ position.position_name }}:
            </label>
            <select name="volunteer--{{ position.position_id }}" id="volunteer--{{ position.position_id }}" class="form-select">
              <option value="">I will not volunteer for this position</option>
              <!-- In a real app you might list available volunteer names here -->
              <option value="account name">account name</option>
            </select>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
